<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Email Send from Portofolio</title>
  </head>
  <body>
    <p>{{message}}</p>
    <hr />
    <p>From: {{name}}</p>
    <p>Email: {{email}}</p>
    <p>Phone Number: {{phoneNumber}}</p>
  </body>
</html>